<p>Bei Anmerkungen oder Fragen kommt gerne auf unseren Discord.</p>
<figure class="kg-card kg-bookmark-card">
  <a class="kg-bookmark-container" href="https://discord.com/invite/Z5suUhW5J3?ref=viertelwissen.de">
    <div class="kg-bookmark-content">
      <div class="kg-bookmark-title">Join the IceFlom &amp; maarsellow &amp; Viertelwissen Discord Server!</div>
      <div class="kg-bookmark-description">Gemeinschaftsdiscord von IceFlom, Maarsellow und Viertelwissen</div>
      <div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://discord.com/assets/ec2c34cadd4b5f4594415127380a85e6.ico" alt="">
      <span class="kg-bookmark-publisher">Discord</span>
      </div>
    </div>
  </a>
</figure>